body {
  font-family: Roboto, sans-serif;
  /*background-color: #EAEAEA;*/
  background-color: #D8F1A8;
  box-shadow: 10px 10px 5px #333333;
}

h1 {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

/* Subheading */
.sub-header {
  font-family: Roboto, sans-serif;
  font-size: 10pt;
}


/* Status Text */
.p1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  line-height: 95%;
  letter-spacing: -0.03em;
  text-align: center;
  display: block;
  margin: 0 30px 7px;
  font-size: 4.5vw;

}

/* Status Box */
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 80px 20px 50px;
  vertical-align: middle;
  box-shadow: 10px 10px 5px #333333;

}

/* Navbar Main Bar */
.navbar-inverse {
  background-color: #7CA17C;
  border-color: #B8DAA3;
}

/* Navbar Main Tab */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #6DA180;
}


/* Logo Heading */
.navbar-brand {
  padding: 35px 0 90px;
  margin-left: 30%;

}

.organization {
  font-family: Roboto Condensed, sans-serif;
  color: black;
  font-size: 11pt;
  line-height: 15pt;
  border-bottom: 1px solid black;
  display: inline-block;
  padding: 0.1em 2em 0.3em 0;
}


.nav > li > a {
  color: black;
  position: relative;
  display: block;
  border-radius: 0%;
  font-weight: normal;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.3em;
  padding: 6px 7px 6px 9px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
  top: 8px;
  right: -900px;
}

/* Message Box */
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 0%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


/* Search Bar */
.navbar-form .input-group > .form-control {
  font-family: "RISD-DM-Univers-Extended", Helvetica, sans-serif;
  width: auto;
  font-weight: bold;
  display: block;
  border: 1px solid black;
  text-align: center;
  padding: 2px 0 0;
  color: black;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 9pt;
  line-height: 20px;
  background: transparent;
  margin-bottom: 9px;
  top: 50px;
  right: 105px;
}

.glyphicon {
  top: 50px;
  right: 20px;
}

.clock {
  font-size: 30px;
  top: auto;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 93%;
  left: 50%;
  margin-left: -200px;
  margin-top: -0.7em;
  width: 400px;
  pointer-events: none;
  text-align: center;
}
